<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    Article details
    <br>

    titre : {{object.title}}
    <br> <br>
    cover : <img width="200" src="{{MEDIA_URL}}{{object.cover}}" alt="cover">
    <br> <br>
    prix : {{object.price}}
    auteur : {{object.author}}
    like : {{object.like}}
</body>
</html>